:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5; 
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-second: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ORDEN DE ESTILOS
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más 
*/

.header-section {
    text-align: center;
    font-size: 2.4rem;
    min-width: 320px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header-section__nav {
    /* border: 1px solid rgb(153, 24, 24); */
}

.header-wrapper {
    /* margin: 0 1.33em; */
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
} 

.header-section__main-text {
    font-size: 2.4rem;
    margin-bottom: 1em;
    color: var(--white);
    line-height: 2.6rem;
}

.header-section__text {
    font-size: 1.4rem;
    margin-bottom: 1.3em;
    color: var(--soft-orange);
    line-height: 1.6rem;
}

.header-section__button {
    font-size: 1.4rem;
    width: 229px;
    height: 48px;

    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: -20px;
}

.main-section {
    text-align: center;
    min-width: 320px;
    padding-top: 6em;
    background-color: var(--off-white);
}

.center, .table-section  {
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
}

.table-section__img {
    background-image: url(../assets/imgs/bitcoin.svg);
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 4em;
}

.section__title {
    font-size: 2.4rem;
    margin-bottom: 1em;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.section__text {
    font-size: 1.4rem;
    color: #757575;
}

.table-section__wrapper {
    width: 70%;
    min-width: 201px;
    max-width: 500px;
    margin: 0 auto;
}

.first-table, .second-table {
    position: relative;
    padding-bottom: 6.4em;
}

.table-section__second-tittle {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    text-align: initial;
    margin: 1.2rem;
    margin-top: 2.7em;
}

.blue-color {
    color: var(--secondary-blue);
}

table {
    width: 100%;
    font-family: Inter;
    border-radius: 4px;
}

td {
    padding: 0.63em 0.75em;
    background-color:  var(--white);
    color: #B5B0AC;
}

.table-section__border {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 1.6em;
}

.table-left {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
}

.table-right {
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
}

.table-section__date {
    background-color: var(--soft-orange);
    font-family: Inter;
    font-size: 1.2rem;
    padding: .67em;
    width: 173px;
    height: 31px;
    border-radius: 8px;
    margin: 0 auto;
}

.soft-blue {
    background-color: var(--soft-blue);
}

.feature-section {
    background-color: var(--warm-black);
    width: 100%;
    position: relative;
    padding-top: 5em;
    padding-bottom: 3em;
}

.feature-section__tittle {
    font-size: 2.4rem;
    color: var(--white);
}

.feature-section__text {
    font-size: 1.4rem;
    color: #808080;
    padding-top: 1.72em;
    padding-bottom: 2.3em;
}

.feature-section__item {
    background-color: var(--warm-black-second);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    text-align: left;
    padding: 2em;
    margin-bottom: 1.6em;
    min-height: 150px;
}

.feature-section__item__tittle {
    color: var(--white);
    font-size: 1.8rem;
    margin-bottom: .55em;
}

.feature-section__item__text {
    font-size: 1.4rem;
    color: #808080;
}

.image-section {
    width: 100%;
    background-color: var(--off-white);
}

.image-section__wrapper {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.image-section__img {
    width: 100%;
}

.image-section__tittle {
    font-size: 2.4rem;
    color: var(--white);
    position: absolute;
    left: calc(50% - 81.5px);
    top: 60px;
}

.plan-section {
    padding-top: 6.4em;
}

.plan-section__list {
    width: 100%;
    border: 1px solid #000;
    margin-top: 5em;
    padding-bottom: 6em;
}

.plan-section__list__item {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    height: 247px;
    background: var(--white);
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
    border-radius: 8px;
    padding: 1.6em;
    margin-bottom: .5em;
}

.absolute {
    position: absolute;
}

.plan-section__list__item:first-child {
    left: -135px;
}

.plan-section__list__item:nth-child(2n) {
    position: relative;
}

.plan-section__list__item:last-child {
    right: -135px;
}

.recomended-item {
    background-color: var(--bitcoin-orange);
    padding: 1em;
    width: 100px;
    height: 30px;
    color: var(--white);
    font-size: 1.2rem;
    font-family: Inter;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 50px);
    top: -15px;
}

.plan-section__list__tittle {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.1em;
}

.plan-section__list__price {
    font-size: 5.2rem;
    font-family: Inter;
    font-weight: 700;
    position: relative;
    margin-top: 0.2em;
}

.small-size {
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    left: 34px;
    top: 7px;
}

.plan-section__list__text {
    font-size: 1.2rem;
    color: #757575;
    margin-top: 0.8em;
}

.plan-section__list__button {
    background-color: var(--off-white);
    width: 150px;
    height: 48px;
    border: 2px solid var(--bitcoin-orange);
    font-family: 'DM Sans', sans-serif;
    margin-top: 1.2em;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}