.header-section__nav__logo {
    margin: 1.7em;
    margin-bottom: 1.4em;
}

.header-section__button__img {
    position: relative;
    left: 7px;
    color: var(--warm-black);
}

.icon-table {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 0.75em;
}

.trending-up {
    background-image: url('../assets/icons/trending-up.svg');
}

.trending-down {
    background-image: url('../assets/icons/trending-down.svg');
}

.table-icon {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 12.41px;
    background-image: url('../assets/icons/vector.svg');
}

.next {
    right: -30px;
    top: 115px;
}

.back {
    transform: rotate(180deg);
    left: -30px;
    top: 115px;
}

.patata-icon {
    display: inline-block;
    position: absolute;
    width: 41px;
    height: 25px;
    background-image: url("../assets/icons/icon-papa.svg");
    left: calc(50% - 20px);
    top: -12px;
}

.icon-feature {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 0.8em;
}

.reloj-icon {
    background-image: url("../assets/icons/clock.svg");
}

.eye-icon {
    background-image: url("../assets/icons/eye.svg");
}

.bill-icon {
    background-image: url("../assets/icons/dollar-sign.svg");
}

.check-circle {
    background-image: url("../assets/icons/check-circle.svg");
}

.arrow-right {
    background-image: url("../assets/icons/arrow-right.svg");
    margin: 0;
    margin-left: 0.5em;
}

.batatabit-2020 {
    display: inline-block;
    width: 64px;
    height: 50px;
    background-image: url("../assets/imgs/batatabit-2020.svg");
}

.double-arrow {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 7;
    background-image: url("../assets/icons/double-arrow.svg");
}

.right {
    right: 10px;
}

.left {
    left: 10px;
    transform: rotate(180deg);
}