:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5; 
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-second: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ORDEN DE ESTILOS
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más 
*/

.header-section {
    text-align: center;
    font-size: 2.4rem;
    min-width: 320px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header-section__nav {
    /* border: 1px solid rgb(153, 24, 24); */
}

.header-wrapper {
    /* margin: 0 1.33em; */
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
} 

.header-section__main-text {
    font-size: 2.4rem;
    margin-bottom: 1em;
    color: var(--white);
    line-height: 2.6rem;
}

.header-section__text {
    font-size: 1.4rem;
    margin-bottom: 1.3em;
    color: var(--soft-orange);
    line-height: 1.6rem;
}

.header-section__button {
    font-size: 1.4rem;
    width: 229px;
    height: 48px;

    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: -20px;
}

.main-section {
    text-align: center;
    min-width: 320px;
    padding-top: 6em;
    background-color: var(--off-white);
}

.table-section {
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
}

.table-section__img {
    background-image: url(../assets/imgs/bitcoin.svg);
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 4em;
}

.table-section__title {
    font-size: 2.4rem;
    margin-bottom: 1em;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.table-section__text {
    font-size: 1.4rem;
    color: #757575;
}

.table-section__wrapper {
    width: 202px;
    margin: 0 auto;
}

.table-section__second-tittle {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    text-align: initial;
    margin: 1.2rem;
    margin-top: 2.7em;
}

table {
    width: 100%;
    font-family: Inter;
    font-size: 1.6rem;
}

table, th, td {
    border:1px solid black;
    background-color:  var(--white);
    color: #B5B0AC;
}

